[submodule "theme/lsu"]
	path = theme/lsu
	url = git@github.com:lsuits/lsu_theme.git
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = git@github.com:lsuits/quickmail.git
[submodule "blocks/helpdesk"]
	path = blocks/helpdesk
	url = git@github.com:lsuits/helpdesk.git
[submodule "blocks/scantron"]
	path = blocks/scantron
	url = git@github.com:lsuits/scantron.git
[submodule "blocks/my_picture"]
	path = blocks/my_picture
	url = git@github.com:lsuits/my_picture.git
[submodule "blocks/admin_email"]
	path = blocks/admin_email
	url = git@github.com:lsuits/admin_email.git
