[submodule "theme/lsu"]
	path = theme/lsu
	url = git@github.com:lsuits/lsu_theme.git
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = git@github.com:lsuits/quickmail.git
[submodule "blocks/helpdesk"]
	path = blocks/helpdesk
	url = git@github.com:lsuits/helpdesk.git
[submodule "blocks/scantron"]
	path = blocks/scantron
	url = git@github.com:lsuits/scantron.git
[submodule "blocks/my_picture"]
	path = blocks/my_picture
	url = git@github.com:lsuits/my_picture.git
[submodule "blocks/admin_email"]
	path = blocks/admin_email
	url = git@github.com:lsuits/admin_email.git
[submodule "blocks/rollsheets"]
	path = blocks/rollsheets
	url = git@github.com:lsuits/rollsheets.git
[submodule "blocks/bulk_delete"]
	path = blocks/bulk_delete
	url = git@github.com:lsuits/bulk_delete.git
[submodule "blocks/backadel"]
	path = blocks/backadel
	url = git@github.com:lsuits/backadel.git
[submodule "blocks/simple_restore"]
	path = blocks/simple_restore
	url = git@github.com:lsuits/simple_restore.git
[submodule "grade/export/csv"]
	path = grade/export/csv
	url = git@github.com:lsuits/csv.git
[submodule "grade/report/grade_breakdown"]
	path = grade/report/grade_breakdown
	url = git@github.com:lsuits/grade_breakdown.git
[submodule "enrol/ues"]
	path = enrol/ues
	url = git@github.com:lsuits/ues.git
